APP_ACCESS_TOKEN=change-this-token
GMAIL_CREDENTIALS_DIR=./gmail_credentials
HOST=127.0.0.1
PORT=8000
POLL_INTERVAL_SECONDS=0
DEFAULT_GMAIL_QUERY=newer_than:30d
MAX_RESULTS_PER_ACCOUNT=20
RECORD_LINK_WINDOW_SECONDS=180
SMS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzcqdDdQdma6ikRFDSJFPuPALPcwmGoSwuIKr8q1KUYyKynqAUi_9t0ARVPl2EKWod3/exec
SMS_CACHE_TTL_SECONDS=15
SMS_REQUEST_TIMEOUT=30
SMS_TIMEZONE=Asia/Seoul
